<!DOCTYPE html> {% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>GPMS</title>
  <meta property="fb:app_id" content="909518255880791" />

  <!-- Mobile Specific Meta
		================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FB Share Content -->
  <meta property="og:url" content="location.href" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="GPMS-PM2.5異常分析系統" />
  <meta property="og:description" content="異常站點的詳細資訊" />
  <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Achtung.svg/220px-Achtung.svg.png" />
  <!--  -->

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" /> -->

  <!-- CSS
		================================================== -->
  <!-- Fontawesome Icon font -->
  <link rel="stylesheet" href="{% static "plugins/themefisher-font/style.css" %}">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static "plugins/bootstrap/dist/css/bootstrap.min.css" %}">
  <!-- Animate.css -->
  <link rel="stylesheet" href="{% static "plugins/animate-css/animate.css" %}">
  <!-- Magnific popup css -->
  <!-- <link rel="stylesheet" href="{% static "plugins/magnific-popup/dist/magnific-popup.css" %}"> -->
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static "css/history.css" %}">
  <!-- Google ICONs -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Font Awsome ICON -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap 3.1 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="{% static "plugins/bootstrap/dist/js/bootstrap.min.js" %}"></script> -->
</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">

  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.11&appId=909518255880791';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!--
  Fixed Navigation
  ==================================== -->
  <div class="container-fluid">

    <nav class="navbar navbar-inverse navbar-fixed-top navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	       	<span class="icon-bar"></span>
	        <span class="icon-bar"></span>
		  </button>
          <a class="navbar-brand" href="http://127.0.0.1:8000/gpms/index">GPMS</a>
        </div>

        <div class="collapse navbar-collapse navbar-right navigation-menu" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="http://127.0.0.1:8000/gpms/index">Home</a></li>
            <li><a href="http://127.0.0.1:8000/gpms/wronglist/">異常監測站</a></li>
            <li class="active"><a href="http://127.0.0.1:8000/gpms/history/">歷史資料</a></li>
            <li><a href="http://127.0.0.1:8000/gpms/data/">全部監測站</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <!--
  End Fixed Navigation
  ==================================== -->

  <div class="container fontabc" style="padding-top: 65px; min-height: 100vh; ">

    <h2 style="font-size: 50px;">歷史異常檢測記錄</h2>
    <p style="font-size: 18px;">在這裡，您可以和其他朋友討論或回饋關於異常站點週邊的資訊</p>

    <hr>
    <div class="container">
      <div class="panel-group" id="accordion">

        {% for key, value in error_site_data.items %}
        <div id="{{forloop.counter0}}" class="panel panel-default" onclick="cfb(this.id)">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a id="errorSite{{forloop.counter0}}" data-toggle="collapse" data-parent="#accordion" href="#P{{forloop.counter0}}">
                {{key}}
              </a>
            </h4>
          </div>
          <div id="P{{forloop.counter0}}" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="col-md-6">
                <table class="table table-bordered ttable">
                  <tbody>
                    <tr class="info">
                      <td>時間</td>
                      <td id="time{{forloop.counter0}}">
                        {% for t in value.time %}
                          {% if forloop.last %}
                            {{t}}
                          {% endif %}
                        {% endfor %}
                      </td>
                    <tr class="danger">
                      <td>PM25</td>
                      <td>
                        {% for pm25 in value.PM25 %}
                          {% if forloop.last %}
                            {{pm25}}
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                    <tr class="danger">
                      <td>PM10</td>
                      <td>
                        {% for pm10 in value.PM10 %}
                          {% if forloop.last %}
                            {{pm10}}
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                    <tr class="danger">
                      <td>溫度</td>
                      <td>
                        {% for temperature in value.溫度 %}
                          {% if forloop.last %}
                            {{temperature}}
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                    <tr class="danger">
                      <td>濕度</td>
                      <td>
                        {% for humidity in value.濕度 %}
                          {% if forloop.last %}
                            {{humidity}}
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                <div class="panel-heading">如果你知道這個監測站附近的情況請告訴我們</div>
                <div class="panel-body">
                  <div class="ovscroll">
                    <div class="fb-comments" data-href="" data-numposts="5" width="100%"></div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <p>Copyright &copy; <a href="http://im.nutc.edu.tw/bin/home.php">NUTC-IM</a> | Prof. Allen Lian </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--
		Essential Scripts
		=====================================-->

  <!-- Change data-href jQuery -->
  <script>
    var dateStr = "{{dateStr}}";

    function cfb(Id) {
      var error_site = document.getElementById('errorSite' + Id).innerHTML;
      var error_time = document.getElementById('time' + Id).innerHTML;
      var url = "http://im41gpms.herokuapp.com/wronglist/" + "?errorSiteVal=" +
        encodeURIComponent(error_site.trim()) +
        '&errorTime=' + dateStr + "+" + escape(error_time.trim())

      console.log(url);

      $(".fb-comments").attr('data-href', url);
      FB.XFBML.parse();
    }
  </script>

  <!-- Main jQuery -->
  <!-- <script type="text/javascript" src="{% static "plugins/jquery/dist/jquery.min.js" %}"></script> -->
  <!-- Smooth Scroll -->
  <script type="text/javascript" src="{% static "plugins/smooth-scroll/dist/js/smooth-scroll.min.js" %}"></script>
  <!-- Sticky Nav -->
  <script type="text/javascript" src="{% static "plugins/Sticky/jquery.sticky.js"%}"></script>
  <!-- wow.min Script -->
  <script type="text/javascript" src="{% static "plugins/wow/dist/wow.min.js" %}"></script>


</body>

</html>
