<!DOCTYPE html> {% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<title>異常監測站</title>
	<meta http-equiv="Access-Control-Allow-Origin" content="https://im41gpms.herokuapp.com/">
	<meta property="fb:app_id" content="909518255880791" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FB Share Content -->
	<meta property="og:url" content="location.href" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="GPMS-PM2.5異常分析系統" />
	<meta property="og:description" content="異常站點的詳細資訊" />
	<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Achtung.svg/220px-Achtung.svg.png" />
	<!--  -->

	<!-- CSS
		================================================== -->
	<!-- Fontawesome Icon font -->
	<link rel="stylesheet" href="{% static "plugins/themefisher-font/style.css" %}">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="{% static "plugins/bootstrap/dist/css/bootstrap.min.css" %}">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static "plugins/animate-css/animate.css" %}">
	<!-- Magnific popup css -->
	<!-- <link rel="stylesheet" href="{% static "plugins/magnific-popup/dist/magnific-popup.css" %}"> -->
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="{% static "css/wrongList.css" %}">
	<!-- Google ICONs -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Font Awsome ICON -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="body">

<script>
	window.fbAsyncInit = function() {
    FB.init({
      appId: '909518255880791',
      autoLogAppEvents: true,
      xfbml: true,
      version: 'v2.11'
    });
    FB.AppEvents.logPageView();
  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function postToPage() {
    var page_id = '277631202754911';
    FB.api('/' + page_id, {
      fields: 'access_token'
    }, function(resp) {
      if (resp.access_token) {
        FB.api('/' + page_id + '/feed',
          'post', {
            message: "I 'm a Page!",
            link: location.href,
            access_token: resp.access_token
          },
          function(response) {
            console.log(response);
            //response 為一個dict {id: "POST ID"}
          });
      }
    });
  };
</script>

<div id="preloader"></div>

<!--
Fixed Navigation
  ==================================== -->
<div class="container-fluid">

	<nav class="navbar navbar-inverse navbar-fixed-top navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	<span class="icon-bar"></span>
	       	 	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    <a class="navbar-brand" href="http://127.0.0.1:8000/gpms/index">GPMS</a>
	    </div>

	    <div class="collapse navbar-collapse navbar-right navigation-menu" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="http://127.0.0.1:8000/gpms/index">Home</a></li>
				<li class="active"><a href="http://127.0.0.1:8000/gpms/wronglist/">異常監測站</a></li>
				<li><a href="http://127.0.0.1:8000/gpms/history/">歷史資料</a></li>
				<li><a href="http://127.0.0.1:8000/gpms/data/">全部監測站</a></li>
			</ul>
	    </div>
	</div>
</nav>

</div>
  <!--
  End Fixed Navigation
  ==================================== -->
<!--
left Start
==================================== -->

<div class="container-fluid" style="padding-top: 65px;">
	<div class="row">

		<div class="col-md-7 col-12">
			<div class="panel panel-info" style="height: 100vh;">
				<div class="panel-heading">
					異常監測站地點
				</div>
				<div class="panel-body">
					<div id="map"></div>
				</div>
		    </div>
		</div>

		<div class="col-md-5 col-12">
    	<div class="panel panel-danger" style="height: 100vh;">
	   		<div class="panel-heading">站點當時信息</div>

	    	<div class="panel-body NodeInfo" >
					<form action="." method="get">
						<table class="table table-bordered">
		    			<tbody>
		    				<tr class="info">
									<td>監測站點</td>
					        <td id="errorSite">{{errorSiteVal}}</td>
						    </tr>
								<tr class="info">
									<td>發生時間</td>
									<td id="errorTime">{{errorTimeVal}}</td>
								</tr>
								<tr class="warning">
									<td>PM2.5</td>
									<td id="PM25">{{pm25_val}}</td>
								</tr>
								<tr class="warning">
									<td>PM10</td>
									<td id="PM10">{{pm10_val}}</td>
								</tr>
								<tr class="warning">
									<td>溫度</td>
									<td id="Temperature">{{temperature_val}}</td>
								</tr>
								<tr class="warning">
									<td>濕度</td>
									<td id="Humidity">{{humidity_val}}</td>
								</tr>
		    			</tbody>
		    		</table>
						<input id="errorSiteVal" type="text" name="errorSiteVal" value="" style="display:none;">
						<input id="errorTimeVal" type="text" name="errorTimeVal" value="" style="display:none;">
						<input id="PM25Val" type="text" name="PM25Val" value="" style="display:none;">
						<input id="PM10Val" type="text" name="PM10Val" value="" style="display:none;">
						<input id="TemperatureVal" type="text" name="TemperatureVal" value="" style="display:none;">
						<input id="HumidityVal" type="text" name="HumidityVal" value="" style="display:none;">
						<input id="ok" type="submit" value="sent" style="display:none;">
					</form>
	    		<div class="well">原因分析:暫時未知</div>

					<hr>

					<a href="http://127.0.0.1:8000/gpms/history/" class="btn btn-transparent" style="font-size: 18px;">
						按此回報和查看所有異常站點記錄
					</a>
	    	</div>
	    </div>

      <!-- <div class="panel panel-warning">

	    	<div class="panel-heading">
	    		如果你知道這個監測站附近的情況請告訴我們
	    		<div class="fb-share-button" data-href="http://im41gpms.herokuapp.com/wrongList/" data-layout="button" data-size="small" data-mobile-iframe="true">
	    			<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">分享</a>
	    		</div>
	    	</div>

	    	<div class="panel-body">
					<div class="ovscroll">
						<div class="fb-comments" data-width="100%" data-href="http://127.0.0.1:8000/gpms/wronglist/" data-numposts="5"></div>
					</div>
	    	</div>
	    </div> -->
		</div>
	</div>
</div>

<!--
left END
==================================== -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p>Copyright &copy; <a href="http://im.nutc.edu.tw/bin/home.php">NUTC-IM</a> | Prof. Allen Lian </p>
                </div>
            </div>
        </div>
    </div>
</footer>

	<!-- Main jQuery -->
	<script type="text/javascript" src="{% static "plugins/jquery/dist/jquery.min.js" %}"></script>
	<!-- Bootstrap 3.1 -->
	<script type="text/javascript" src="{% static "plugins/bootstrap/dist/js/bootstrap.min.js" %}"></script>
	<!-- Smooth Scroll -->
	<script type="text/javascript" src="{% static "plugins/smooth-scroll/dist/js/smooth-scroll.min.js" %}"></script>
	<!-- Sticky Nav -->
	<script type="text/javascript" src="{% static "plugins/Sticky/jquery.sticky.js" %}"></script>
	<!-- wow.min Script -->
	<script type="text/javascript" src="{% static "plugins/wow/dist/wow.min.js" %}"></script>
	<!-- Custom js -->
	<script type="text/javascript" src="{% static "scripts/script.js" %}"></script>
	<!-- Google	Map API -->
	<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1MDAz4pygB9byYzbBpaeFRptZ1cyKcig&callback=initMap"></script> -->
	<script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: new google.maps.LatLng(24.150104, 120.683976)
      });

      var labels = {{error_labels|safe}};

      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        var marker = new google.maps.Marker({
          position: location,
          label: labels[i]
        });

				google.maps.event.addListener(marker, 'click', function () {
					document.getElementById('errorSite').innerHTML = marker['label'];
					document.getElementById('errorTime').innerHTML = locations[i]['errorTime'];
					document.getElementById('errorSiteVal').value = marker['label'];
					document.getElementById('errorTimeVal').value = locations[i]['errorTime'];
					document.getElementById('PM25').innerHTML = locations[i]['PM25'];
					document.getElementById('PM25Val').value = locations[i]['PM25'];
					document.getElementById('PM10').innerHTML = locations[i]['PM10'];
					document.getElementById('PM10Val').value = locations[i]['PM10'];
					document.getElementById('Temperature').innerHTML = locations[i]['溫度'];
					document.getElementById('TemperatureVal').value = locations[i]['溫度'];
					document.getElementById('Humidity').innerHTML = locations[i]['濕度'];
					document.getElementById('HumidityVal').value = locations[i]['濕度'];
					document.getElementById('ok').click();
				});

				return marker
      });

      var markerCluster = new MarkerClusterer(map, markers, {
        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
      });
    }

    var locations = {{error_json|safe}}

  </script>
	<!-- Google	Map API -->
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQIE_POcr6aWht8YuwCvA23SM05RhpCC0&callback=initMap">
  </script>
</body>
</html>
